<!doctype html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>

    <body class="container-fluid">
        <header>
            <% include partials/header %>
        </header>

        <h1>Profile Page!</h1>
        <h4><%= job[0].jobtitle %></h4>
        <h6><%= job[0].company %></h6>
        <h6><%= job[0].formattedLocation %></h6>
        <h6><%= job[0].snippet %></h6>
        <h6><%= job[0].date %></h6>
        <h6><%= job[0].url %></h6>

        <h4><%= job[1].jobtitle %></h4>
        <h6><%= job[0].company %></h6>
        <h6><%= job[0].formattedLocation %></h6>
        <h6><%= job[0].snippet %></h6>
        <h6><%= job[0].date %></h6>
        <h6><%= job[0].url %></h6>

      </body>
</html>
