<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body class="container-fluid">
<header>
    <% include partials/header %>
</header>

<ul>
    <% api['results'].forEach(function(job) { %>
        <li>
            <%= job["jobtitle"]%><br>
            <%= job["company"]%><br>
            <%= job["formattedLocation"]%><br>
            <%= job["snippet"]%><br>
            <%= job["date"]%>
        </li><br><br>
    <% }); %>
</ul>

</body>
</html>